<% number ||= 0 %>
<tr class="product_property">
  <td>
    <%= select_tag :property_name, 
            options_from_collection_for_select(Property.find(:all, :order => 'name'), :name, :name, (product_property.property ? product_property.property.name : '')),
          :onselect => "return event.which == Event.KEY_RETURN ? false : true",
          :name => property_fu_name(product_property, number)
  </td>
  <td>
    <%= text_field :product_property, :property_value, {
                                       :name => property_fu_value(product_property, number),
                                       :value => product_property.value
                                      } %>
	</td>	
  <td>
  	<a href='#' onclick="$(this).up('.product_property').remove();" class="iconlink"><%= icon('delete') %> <%= t("remove") %></a>
  </td>
</tr>
